<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState timeout="20"></sessionState>
  </system.web>
  <appSettings>
    <add key="Host" value="smtp.gmail.com" />
    <add key="EnableSsl" value="true" />
    <add key="UserName" value="purcellcompliance@gmail.com" />
    <add key="Password" value="m2n1shlko" />
    <add key="Port" value="587" />
  </appSettings>
  <connectionStrings>
    <add name="CarParkEntities" connectionString="metadata=res://*/CarParkModel.csdl|res://*/CarParkModel.ssdl|res://*/CarParkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=CarPark;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
